<div *ngFor="let visitor of visitors">
  <app-visitor-card
    [visitor]="visitor"
    (edit)="openEditModal(visitor)"
    (delete)="openDeleteModal(visitor.id)"
  >
  </app-visitor-card>
</div>

<app-modal [isOpen]="isEditModalOpen" (close)="closeEditModal()">
  <app-edit *ngIf="selectedVisitor" [visitor]="selectedVisitor"></app-edit>
</app-modal>

<app-modal [isOpen]="isDeleteModalOpen" (close)="closeDeleteModal()"
  ><div>
    <h2>Tem certeza que deseja excluir?</h2>
    <p>Essa ação não pode ser desfeita.</p>
    <button (click)="confirmDelete()">Sim, excluir</button>
    <button (click)="closeDeleteModal()">Cancelar</button>
  </div>
</app-modal>
