<app-toast #toast></app-toast>
<app-back-button></app-back-button>
<div class="visitor-list">
  <app-visitor-card
    *ngFor="let visitor of visitors()"
    [visitor]="visitor"
    (edit)="openEditModal(visitor)"
    (delete)="openDeleteModal(visitor.id)"
  ></app-visitor-card>
</div>

<app-modal [isOpen]="isEditModalOpen()" (close)="closeEditModal()">
  <app-edit
    *ngIf="selectedVisitor() as visitor"
    [visitor]="visitor"
    (visitorUpdated)="onVisitorUpdated($event)"
    (closeModal)="closeEditModal()"
  ></app-edit>
</app-modal>

<app-modal [isOpen]="isDeleteModalOpen()" (close)="closeDeleteModal()">
  <div class="delete-modal-content">
    <h2>Tem certeza que deseja excluir?</h2>
    <p>Essa ação não pode ser desfeita.</p>
    <div class="delete-modal-actions">
      <button class="confirm-btn" (click)="confirmDelete()">
        Sim, excluir
      </button>
      <button class="cancel-btn" (click)="closeDeleteModal()">Cancelar</button>
    </div>
  </div>
</app-modal>
