.visitor-list {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  > *:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  position: relative;
  z-index: 10;

}


.edit-modal-wrapper {
  width: 450px;
  max-width: 95vw;
  padding: 0;

  app-edit {
    display: block;
    width: 100%;

    form {
      background: transparent;
      box-shadow: none;
      padding: 0;
    }
  }
}
