.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal {
    background: white;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    overflow: hidden; /* Para garantir que o conteúdo não ultrapasse os limites da modal */

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #6e00b8;
      color: white;

      h2 {
        margin: 0;
        font-size: 1.5rem;
      }

      .close-btn {
        background: transparent;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .modal-content {
      padding: 20px;
      max-height: 70vh; /* Limitar a altura do conteúdo */
      overflow-y: auto; /* Adicionar scroll se o conteúdo for muito longo */
    }
  }
}
