<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="updateVisitor()">
    <h1>Editar Visitante</h1>

    <label for="name">Nome:</label>
    <input type="text" id="name" formControlName="name" placeholder="Nome" />
    <small *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
      {{ form.get('name')?.errors?.['required'] ? "Nome é obrigatório" : "" }}
      {{ form.get('name')?.errors?.['minlength'] ? "Nome deve ter pelo menos 3 caracteres" : "" }}
      {{ form.get('name')?.errors?.['maxlength'] ? "Nome não pode exceder 100 caracteres" : "" }}
    </small>

    <label for="rg">RG:</label>
    <input
      type="text"
      id="rg"
      formControlName="rg"
      placeholder="RG"
      numbersOnly
    />
    <small *ngIf="form.get('rg')?.touched && form.get('rg')?.invalid">
      {{ form.get('rg')?.errors?.['required'] ? "RG é obrigatório" : "" }}
      {{ form.get('rg')?.errors?.['minlength'] ? "RG deve ter pelo menos 7 dígitos" : "" }}
      {{ form.get('rg')?.errors?.['maxlength'] ? "RG não pode exceder 14 dígitos" : "" }}
    </small>

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="Email"
    />
    <small *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      {{ form.get('email')?.errors?.['required'] ? "Email é obrigatório" : "" }}
      {{ form.get('email')?.errors?.['email'] ? "Email inválido" : "" }}
    </small>

    <button
      type="button"
      class="secondary-btn"
      (click)="startFaceTraining()"
      [disabled]="isTraining || form.get('rg')?.value === originalRg"
      *ngIf="form.get('rg')?.value !== originalRg"
    >
      @if (isTraining) {
      <span class="spinner"></span>
      Processando... } @else if (trainingComplete) {
      <i class="check-icon">✓</i> Treinamento Completo } @else { Cadastrar Rosto
      }
    </button>

    <button
      type="submit"
      class="primary-btn"
      [disabled]="
        form.invalid ||
        isSubmitting ||
        (form.get('rg')?.value !== originalRg && !trainingComplete)
      "
    >
      @if (isSubmitting) {
      <span class="spinner"></span>
      } Salvar Alterações
    </button>
  </form>
</div>
