<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="updateVisitor()">
    <h1>Editar Visitante</h1>

    <label for="name">Nome:</label>
    <input type="text" id="name" formControlName="name" placeholder="Nome" />
    <small *ngIf="formControls['name'].touched && formControls['name'].invalid">
      {{ formControls["name"].errors?.required ? "O nome é obrigatório." : "" }}
      {{
        formControls["name"].errors?.minlength
          ? "O nome deve ter no mínimo 3 caracteres."
          : ""
      }}
    </small>

    <label for="rg">RG:</label>
    <input type="text" id="rg" formControlName="rg" placeholder="RG" />
    <small *ngIf="formControls['rg'].touched && formControls['rg'].invalid">
      {{ formControls["rg"].errors?.required ? "O RG é obrigatório." : "" }}
      {{
        formControls["rg"].errors?.pattern
          ? "Insira um RG válido (7 a 14 dígitos)."
          : ""
      }}
    </small>

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="Email"
    />
    <small
      *ngIf="formControls['email'].touched && formControls['email'].invalid"
    >
      {{
        formControls["email"].errors?.required ? "O email é obrigatório." : ""
      }}
      {{ formControls["email"].errors?.email ? "Insira um email válido." : "" }}
    </small>

    <div class="file-upload">
      <label for="file">Escolher Foto</label>
      <input type="file" id="file" (change)="onFileSelected($event)" />
      <span>{{fileName()}}</span>
    </div>

    <button type="submit" [disabled]="form.invalid || isSubmitting()">
      {{ isSubmitting() ? "Salvando..." : "Salvar" }}
    </button>
  </form>
</div>
